
<div class="buttonDiv">
       <button mat-raised-button class="btnMargin" color="primary"  routerLink="/login">Login</button>
       <button mat-raised-button class="btnMargin" color="primary" routerLink="/admin">Admin Panel</button>
       <button mat-raised-button class="btnMargin" color="primary" routerLink="/admin2" >Task 3</button>
       <button mat-raised-button class="btnMargin" color="primary" routerLink="/form4" >Form</button>
       <button mat-raised-button class="btnMargin" color="primary" routerLink="/dragdrop">Drag</button>
       <button mat-raised-button class="btnMargin" color="primary" routerLink="/draglist">DragList</button>
       <button mat-raised-button class="btnMargin" color="primary" routerLink="/Dynamic">DynamicForm</button>
       <button mat-raised-button class="btnMargin" color="primary" routerLink="/table">Table</button>
       <button mat-raised-button class="btnMargin" color="primary" routerLink="/api">APi</button>
      </div>
  <router-outlet></router-outlet>