<!-- <app-admin></app-admin> -->

<!-- <app-login></app-login> -->


<div class="buttonDiv">
       <button mat-raised-button class="login" color="primary"  routerLink="/login">Login</button>
       <button mat-raised-button class="admin" color="primary" routerLink="/admin">Admin Panel</button>
       <button mat-raised-button class="task3" color="primary" routerLink="/admin2" >Task 3</button>
       <button mat-raised-button class="task4" color="primary" routerLink="/form4" >Form</button>
       <button mat-raised-button class="sidebar" color="primary" routerLink="/dragdrop">Drag</button>
       <button mat-raised-button class="sidebar" color="primary" routerLink="/draglist">DragList</button>
       <button mat-raised-button class="sidebar" color="primary" routerLink="/Dynamic">DynamicForm</button>
       
     </div>
    
  <router-outlet></router-outlet>